/*buttons*/
ul {
  float: right;
  list-style-type: none;
  margin-right: 15px; 
}

ul li {
  display: inline-block;
}

ul li a {
  border-radius: 20px;
  color: black;
  padding: 1px 40px;
  border: 0.1px solid black;
  transition: 0.6s ease;  
}
/*line 161 bootstrap takes away underline*/
ul li a:hover{
  background-color: black;
  color: white; 
}

.blockquote {
  margin-top: 0.5in;
}

a {
  text-decoration: none;
}


/*aboutme*/

.box1 {
  border-radius: 20px;
  float: right;
  margin-top: 20px;
  width: 50%;
  height: 66%;
  border: solid black;
  border-width: 1px;
  background-color: rgb(247, 247, 246);
  text-align: center;
  color:black;
  font-size: 22px;
  padding: 20px;
  font-family: 'Handlee', cursive;
}


/*portfolio*/
.box2 {
  border-radius: 20px;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  width: 30%;
  height: 62%;
  border: solid black;
  border-width: 1px;
  background-color: rgb(247, 247, 246);
  text-align: center;
  color:black;
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 4;
  font-family: 'Press Start 2P', cursive;
  
}

  
.title {
  font-size: 20px;
}

